* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #ffffff;
  font-family: "texta", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (min-width: 700px) {
  .mobile {
    display: none;
  }
  /* header seperators */

  .header-full {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
  }
  .header-left {
    background-color: transparent;
    flex: 1;
    height: 100vh;
    background-color: rgb(0, 0, 255);
  }

  .header-right {
    background-color: rgb(0, 0, 128);
    height: 100vh;
    background-size: contain;
    flex: 2;
    background-image: url(/assets/images/undraw_social_dashboard_k3pt.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-right > img {
    width: 80%;
  }

  .container-left {
    margin-left: 20px;
  }
  .container-right {
    margin-right: 20px;
  }
  .logo-area {
    position: absolute;
    margin-left: 10px;
    display: flex;
    margin-top: 10px;
  }
  .logo-area > img {
    height: 60px;
    width: 150px;
  }

  /* Header Main Contents */

  .header-content {
    top: 20%;
    position: absolute;
    left: 5%;
    z-index: 100;
  }
  .header-content > h2 {
    font-family: "HarmoniaSans", sans-serif;
    font-weight: 900;
    font-size: 60px;
    width: 60%;
    color: #fff;
    line-height: 4.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
  }

  .header-content > p {
    display: block;
    font-size: 20px;
    font-family: savoy;
    color: lightgrey;
    width: 65%;
  }
  button {
    outline: none;
    border: none;
  }
  .login-btn,
  .join-btn {
    padding: 10px 20px 10px;
    font-family: "HarmoniaSans", sans-serif;
    font-weight: 900;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  .login-btn {
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 2px 0px #fff;
  }
  .join-btn {
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 2px 0px #fff;
  }

  .login-btn:active,
  .join-btn:active {
    box-shadow: none;
  }

  /* Menu Navigation */
  .navigation {
    display: block;
    text-align: end;
    margin-right: 40px;
  }
  .menu-items {
    align-items: flex-end;
  }
  ul,
  li {
    font-family: "HarmoniaSans", sans-serif;
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 4px;
    color: #fff;
  }
}

@media (max-width: 700px) {
  .pc {
    display: none !important;
  }
  /* header seperators */

  .header-full {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
  }
  .header-left {
    background-color: transparent;
    flex: 1;
    height: 100vh;
    background-color: rgb(0, 0, 255);
  }

  .header-right {
    background-color: dodgerblue;
    height: 100vh;
    background-size: contain;
    flex: 2;
    background-image: url(/assets/images/undraw_social_dashboard_k3pt.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-right > img {
    width: 80%;
  }

  .container-left {
    margin-left: 20px;
  }
  .container-right {
    margin-right: 20px;
  }
  .logo-area {
    margin-top: 10px;
    margin-left: 20px;
  }
  .logo-area > img {
    height: 20%;
    width: 20%;
  }

  /* Header Main Contents */

  .header-content {
    top: 35%;
    position: absolute;
    left: 5%;
    z-index: 100;
  }
  .header-content > h2 {
    font-family: "HarmoniaSans", sans-serif;
    font-weight: 900;
    font-size: 40px;
    width: 100%;
    color: #fff;
    line-height: 2.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
  }

  .header-content > p {
    display: block;
    font-size: 20px;
    font-family: savoy;
    color: lightgrey;
    width: 100%;
    margin-bottom: 40px;
  }
  button {
    outline: none;
    border: none;
  }
  .login-btn,
  .join-btn {
    padding: 10px 20px 10px;
    font-family: "HarmoniaSans", sans-serif;
    font-weight: 900;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  .login-btn {
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 2px 0px #fff;
  }
  .join-btn {
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 2px 0px #fff;
  }

  .login-btn:active,
  .join-btn:active {
    box-shadow: none;
  }

  /* Menu Navigation */
  .navigation {
    display: block;
    text-align: end;
    margin-right: 40px;
  }
  .menu-items {
    align-items: flex-end;
  }
  ul,
  li {
    font-family: "HarmoniaSans", sans-serif;
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 4px;
    color: #fff;
  }
  .mobile-navigation {
    position: absolute;
    bottom: 0;
    background-color: #222;
    height: 100vh;
    z-index: 5000;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  .mobile-navigation li,
  .close-btn {
    display: list-item;
    padding: 10px 15px;
  }
  .mobile-nav {
    position: absolute;
    top: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobile-menu-icon {
    position: absolute;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  .close-menu {
    font-family: dito;
    font-size: 50px;
    font-weight: 900;
    cursor: pointer;
  }
  .innactive {
    animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: none;
  }

  @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  .active {
    display: "";
  }
}
.login-btn a,
.join-btn a {
  text-decoration: none;
  color: #fff;
}
